.DS_Store
README.html
node_modules/**
**/node_modules/**
tmp/**
**/tmp/**
tmp*
*.log*
log*
*.patch
*.tar*
*.tgz*
*.zip
*.swp
*.out
*.crt
*.key
**/.pack/**
.publish/**
**/.publish/**
.coverage/**
**/.coverage/**
.coveralls.yml
