.DS_Store
README.html
CHANGES.html
node_modules/**
**/node_modules/**
tmp/**
**/tmp/**
tmp*
*.log*
log*
*.patch
*.tar*
*.tgz*
*.zip
*.swp
*.out
*.crt
*.key
**/.cfpack/**
**/.cfpush/**
.publish/**
**/.publish/**
.coverage/**
**/.coverage/**
.coveralls.yml
*.iml
.idea/
*.ipr
*.iws
/out/
.idea_modules/
atlassian-ide-plugin.xml
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
