---
parser: espree

env:
  browser: true
  node: true
  es6: true
  jasmine: true
  mocha: true

globals:
  __DEV__: true
  jest: true
  sinon: true
  chai: true
  spy: true
  stub: true

parserOptions:
  sourceType: "module"

rules:
  # ERRORS
  space-before-blocks: 2
  indent: [2, 2, { "SwitchCase": 1 }]
  #strict: [2, "global"]
  semi: [2, "always"]
  comma-dangle: [2, "never"]
  no-unused-expressions: 2
  block-scoped-var: 2
  dot-notation: 2
  consistent-return: 2
  no-unused-vars: [2, args: none]
  quotes: [2, 'single']
  space-infix-ops: 2
  no-else-return: 2
  no-extra-parens: 2
  no-eq-null: 2
  no-floating-decimal: 2
  no-param-reassign: 2
  no-self-compare: 2
  wrap-iife: [2, "inside"]
  brace-style: [2, "stroustrup", { "allowSingleLine": false }]
  object-curly-spacing: [1, "always"]
  func-style: [2, "expression"]
  no-lonely-if: 2
  space-in-parens: [2, "never"]
  space-before-function-paren: [2, "never"]
  generator-star-spacing: [2, "before"]
  spaced-comment: [2, "always"]
  eol-last: 2
  no-multi-spaces: 2
  curly: [2, "multi"]
  camelcase: [2, {properties: "never"}]
  no-eval: 2
  #require-yield: 2
  no-var: 2
  max-len: [2, 80]
  complexity: [2, 6]
  arrow-parens: [2, "always"]

  # WARNINGS
  # We use this for functions that reference each other
  no-use-before-define: 1

  # WISHLIST.
  # valid-jsdoc: 1

  # DISABLED. These aren't compatible with our style
  # We use this for private/internal variables
  no-underscore-dangle: 0
  # We pass constructors around / access them from members
  new-cap: 0
  # We do this in a few places to align values
  key-spacing: 0
  # We do this a lot
  space-after-keywords: 0
  # We do this mostly for callbacks
  no-shadow: 0
  # We do not use spaces in brackets but use spaces in braces
  space-in-brackets: 0
