default:
  apps:
    - lib/plugins/eureka
    - lib/plugins/authserver
    - lib/plugins/provisioning
    - lib/plugins/account
    - lib/metering/collector
    - lib/metering/meter
    - lib/aggregation/accumulator
    - lib/aggregation/aggregator
    - lib/aggregation/reporting
    - lib/sampler/collector
    - lib/sampler/worker

small:

medium:

large:

xlarge:
